@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url(bootstrap.bundle.min.js);

@keyframes slide {
   0%, 20% { transform: translateX(0); }
   25%, 45% { transform: translateX(-100%); }
   50%, 70% { transform: translateX(-200%); }
   75%, 95% { transform: translateX(-300%); }
   100% { transform: translateX(0); }
}


@keyframes moveText {
   0% {
       transform: translateX(0);
   }
   100% {
       transform: translateX(10px); /* Ajuste o valor para mais ou menos movimento */
   }
}

@keyframes rgb-border {
   0% {
     
     border-color: rgb(0, 8, 4); /* Cor inicial da borda */
   }
   25% {
     border-color: rgb(237, 237, 241); /* Muda para azul */
   }
   50% {
     
     border-color: rgb(172, 238, 178); /* Muda para vermelho */
   }
   75% {
     border-color: rgb(12, 197, 40); /* Muda para amarelo */
   }
   100% {
     
     border-color: rgb(4, 0, 7); /* Volta para a cor inicial */
   }
 }


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    transition: all 1.0s;

  }
  
 body{
    background: black;
    height: auto;
    width: auto;
 }

 .conteiner-menu{
    display: flex;
    position: relative;
    
 }

 .titles{
    padding-top: 1.5vw;
    padding-left: 1.0vw;
    letter-spacing: 0.6vw;
    text-decoration: none;
    font-weight: 200;
    display: flex;
    align-items: center;
    color: rgb(255, 255, 255);
    animation: moveText 4s infinite;
    animation-direction: alternate;
    width: 80%;

 }
 .titles p{
   color: rgb(12, 197, 40);
   
 }


.menu{
   display: flex;
   align-items: center;
   justify-content: center;
   align-items: center;
   position: relative;
   
   
 }

 .menu a{
   text-decoration: none;
   display: inline-block;
   padding: 1.5vw 2vw;
   color: white;
   border-bottom: 1px solid white;
   justify-content: center;
   transition: all 1.0s;
 }

 .menu a:hover{
   color: rgb(0, 194, 26);
   scale: 1.1;
   transition: all 1.0s;
   border-radius: 10%;
   border-width: 0.4vw;
 }

 .box-container{
   display: flex;
   position: relative;
   width: 30vw;
   border-radius: 110px;
   height: auto;
   overflow: hidden;
   top: 10vh;
   float: right;
   display: flex;
   right: 66vw;
   transition: all 1.0s;
 }

 .image-box {
   width: 600px;
    height: 500px;
    background-color: white; 
    border-radius: 110px; 
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: all 1.0s;
    
 }

 .image-box img {
   width: 100%;
   height: 100%;
   object-fit: cover;
}

 .box-container:hover{
    transform: scale(1.1);
    transition: all 1.0s;}



.texts{
   justify-content: center;
   text-align: center;
   letter-spacing: 2px;
   width: 50%;
   height: auto;
   position: absolute;
   left: 45vw;
   top: 30vh;
   
}

.texts h2{
   display: flex;
   border-bottom: 1px solid white;
   text-align: center;
   justify-content: center;
   align-items: center;
   padding-bottom: 4vh;
   letter-spacing: 4px;
   color: green;
   font-weight: 400;
   animation: moveText 4s infinite reverse;
   animation-direction: alternate;


}
.texts p{

padding-top: 2vh;
color: whitesmoke;
}


.text-skill{
   border-top: 1px solid rgb(12, 197, 40);
   letter-spacing: 0.2vw;
   position: absolute;
   top: 100vh;
   display: flex-start;
   left: 8vw;
}

.text-skill h1{
   padding: 1vh 1vw;
   color: rgb(12, 197, 40);
   font-weight: 400;
   letter-spacing: 0.2vw;
   animation: moveText 4s infinite;
   animation-direction: alternate;
   justify-content: center;
   align-items: center;
   text-align: center;
   
}


.skill-container {
   align-items: center;
   justify-content: center;
   text-align: center;
   height: 28vh;
   width: 80vw;
   position: absolute;
   top: 120vh;
   left: 6vw;


}

.skill {

   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 1vh 0;
   border-bottom: 1px solid white;
   width: 50%;
   transition: all 1.0s;
}



.skill-bar {

   animation: rgb-border 10s infinite;
   animation-direction: alternate;
   text-align: center;
   border: 2px solid rgba(133, 129, 129, 0.555);
   width: 85%;
   margin-top: 2vh;
   background-color: transparent;
   border-radius: 5px;
   overflow: hidden;
   margin-left: 1.5vw;
   transition: all 4.0s;
   font-weight: 900;
   letter-spacing: 1.0vw;
   color: white;
}

.skill-fill {
   height: 100%;
   background-color: #2ca52c;
   width: 0%;
   transition: width 1.5s ease-in-out;

}


.description-skill-html{
   color: white;
   position: absolute;
   display: flex-start;
   justify-content: center;
   align-items: center;
   text-align: center;
   width: 30%;
   text-decoration: none;
   top: 150vh;
   left: 4.0vw;

}

.description-skill-html h1{
   padding: 1vh 1vw;
   color: rgb(12, 197, 40);
   font-weight: 400;
   letter-spacing: 0.2vw;
   justify-content: center;
   align-items: center;
   text-align: center;
  
}

.description-skill-html p{
   padding: 1vh 1vw;
   color: whitesmoke;
   font-weight: 200;
   letter-spacing: 0.2vw;
   justify-content: center;
   align-items: center;
   text-align: center;
   border: 2px solid #2ca52c;
   border-start-end-radius: 20px;
   
}

.description-skill-html a{
   text-decoration: none;
   color: rgb(12, 197, 40);
   font-weight: 800;
   
}

.description-skill-css{
   color: white;
   position: absolute;
   display: flex-start;
   justify-content: center;
   align-items: center;
   text-align: center;
   width: 30%;
   
   text-decoration: none;
   top: 150vh;
   left: 50vw;
}

.description-skill-css h1{
   padding: 1vh 1vw;
   color: rgb(12, 197, 40);
   font-weight: 400;
   letter-spacing: 0.2vw;
   justify-content: center;
   align-items: center;
   text-align: center;
  
}

.description-skill-css p{
   padding: 1vh 1vw;
   color: whitesmoke;
   font-weight: 200;
   letter-spacing: 0.2vw;
   justify-content: center;
   align-items: center;
   text-align: center;
   border: 2px solid #2ca52c;
   border-start-end-radius: 20px;
   
}

.description-skill-css a{
   text-decoration: none;
   color: rgb(12, 197, 40);
   font-weight: 800;
   
}

.description-skill-css h1{
   padding: 1vh 1vw;
   color: rgb(12, 197, 40);
   font-weight: 400;
   letter-spacing: 0.2vw;
   justify-content: center;
   align-items: center;
   text-align: center;
  
}

.description-skill-javasc{
   color: white;
   position: absolute;
   display: flex-start;
   justify-content: center;
   align-items: center;
   text-align: center;
   width: 30%;
   text-decoration: none;
   top: 200vh;
   left: 50vw;
}

.description-skill-javasc h1{
   padding: 1vh 1vw;
   color: rgb(12, 197, 40);
   font-weight: 400;
   letter-spacing: 0.2vw;
   justify-content: center;
   align-items: center;
   text-align: center;
  
}

.description-skill-javasc p{
   padding: 1vh 1vw;
   color: whitesmoke;
   font-weight: 200;
   letter-spacing: 0.2vw;
   justify-content: center;
   align-items: center;
   text-align: center;
   border: 2px solid #2ca52c;
   border-start-end-radius: 20px;
   
}

.description-skill-javasc a{
   text-decoration: none;
   color: rgb(12, 197, 40);
   font-weight: 800;
   
}

.description-skill-sql{
   color: white;
   position: absolute;
   display: flex-start;
   justify-content: center;
   align-items: center;
   text-align: center;
   width: 30%;
   text-decoration: none;
   top: 200vh;
   left: 4.0vw;
}

.description-skill-sql h1{
   padding: 1vh 1vw;
   color: rgb(12, 197, 40);
   font-weight: 400;
   letter-spacing: 0.2vw;
   justify-content: center;
   align-items: center;
   text-align: center;
  
}


.description-skill-sql p{
   padding: 1vh 1vw;
   color: whitesmoke;
   font-weight: 200;
   letter-spacing: 0.2vw;
   justify-content: center;
   align-items: center;
   text-align: center;
   border: 2px solid #2ca52c;
   border-start-end-radius: 20px;
}


.description-skill-sql a{
   text-decoration: none;
   color: rgb(12, 197, 40);
   font-weight: 800;
   
}


.project-container{
   letter-spacing: 0.2vw;
   position: relative;
   top: 260vh;
   text-align: center;
   display: flex-start;
   align-items: center;
   justify-content: center;
   left: 50%;
   right: 50%;
   transform: translate(-50%, -50%);
   width: 70%;

}

.project-container h1{
   display: flex;
   border-top: 2px solid #2ca52c;
   text-align: center;
   justify-content: center;
   align-items: center;
   letter-spacing: 4px;
   color: green;
   font-weight: 400;
   

}


.project-box{
   top: 260vh;
   position: relative;
   height: auto;
   width: 90%;	
   left: 4vw;
}


.landing-title{
   position: absolute;
   text-align: center;
   justify-content: center;
   padding: 2vh 0;
   right: 72vw;
   top: 34vh;
}
.landing-title h1{
   font-weight: 100;
   color: whitesmoke;
   letter-spacing: 0.2vw;

}

.landing-title p{
   font-weight: 100;
   color: whitesmoke;
   letter-spacing: 0.2vw;
  
}



.project-box-slider{
   position: relative;
   scale: 40%;
   right: 18vw;
   bottom: 20vh;
   overflow: hidden;
   transition: all 1.0s;
}

.project-box-slider:hover{
   transform: scale(1.4);
   transition: all 1.0s;
}

.slides{
   display: flex;
   width: 100%;
   height: 100%;
   animation: slide 18s infinite ease-in-out reverse;
   transition: all 8.0s;
}


.slides img{
   border: 1px solid white;
   scale: 100%;
   object-fit: cover;
   width: 100%;
}




.footer{
   color: white;
   text-decoration: none;
   position: relative;
   top: 40vh;
   align-items: center;
   justify-content: center;
   text-align: center;
   padding: 1vh 0;
   letter-spacing: 0.4rem;
   
}




/*---------------------------------Area de media querys----------------------------------------*/


@media (max-width: 768px) {
   body {
       height: 100vh;
   }

   .conteiner-menu {
       flex-direction: column;
       text-align: center;
       border: 2px solid red;
   }

   .titles {
       font-size: 1.2rem;
       letter-spacing: 2px;
       width: 100%;
       height: 10vh;
       padding: 5px;
       justify-content: center;
       

   }

   .menu {
      flex-direction: column;
      width: 40%;
      position: relative;
      display: block;
      }

   .menu a {
       padding: 10px 15px;
       font-size: 1rem;
       display: block;
       border-bottom: none;
   }

   /* Ajusta a seção de imagem */
   .box-container {
       width: 90%;
       right: auto;
       float: none;
       margin: 20px auto;
       bottom: 40vh;

   }

   .image-box {
       width: 100%;
       height: auto;

   }

   /* Ajusta a seção de texto */
   .texts {
       width: 90%;
       left: 50%;
       transform: translateX(-50%);
       top: 40vh;

   }

   .texts h2 {

       font-size: 1.5rem;
       padding-bottom: 2vh;
   }

   .texts p {
      position: relative;
       font-size: 1rem;
   }

   /* Ajusta habilidades */
   .skill-container {
       width: 100%;
       left: 0;
       padding: 10px;
       top: 120vh;
   }

   .skill {
       width: 90%;
       margin: 5px auto;
       flex-direction: column;
       
   }

   .skill-bar {
       width: 100%;
   }

   .description-skill-html,
   .description-skill-css,
   .description-skill-javasc,
   .description-skill-sql {
      height: auto;
       width: 90%;
       left: 50%;
       transform: translateX(-50%);
       top: 60vh;
       margin-top: 20px;
       position: relative;

   }

   /* Ajusta o container de projetos */
   .project-container {
       width: 90%;
       top: 80vh;
   }

   .project-box {
      top: 68vh;
      height: 80vh;
       width: 100%;
       left: 0;
   }

   .landing-title{
      top: 28vh;
      right: 34vw;
   }

   .landing-title h1{
      font-size: 1.2rem;
      top: 20vh;
   }

   .project-box-slider {
       scale: 80%;
       right: 0;
       bottom: 0;
       position: relative;
   }

   .footer {
       text-align: center;
       left: 0;
       width: 100%;
       padding: 10px;
       top: 100vh;
   }
}

@media (max-width: 480px) {
   .titles {
       font-size: 1rem;
       letter-spacing: 1px;
   }

   .texts h2 {
       font-size: 1.2rem;
   }

   .texts p {
       font-size: 0.9rem;
   }

   .btn {
       font-size: 0.9rem;
       padding: 10px;
   }

   .description-skill-html,
   .description-skill-css,
   .description-skill-javasc,
   .description-skill-sql {
       font-size: 0.9rem;
   }

   .project-box-slider {
       scale: 60%;
   }

   .footer {
       font-size: 0.9rem;
   }
}
